/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('assets/chess.jpg');
  background-size: cover;
}

nav {
  text-align: left;
}

nav ul {
  text-align: left;
  list-style: none;
  opacity: 0.80;
}

.container {
  text-align: center;
}

.flex {
  display: flex;
  align-items: baseline;
}

.arrow {
  border: solid yellowgreen;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

table {

  flex: max-content;
  align-items: center;

  flex: fit-content;
  text-align: center;
}
