body {
  color: ivory;
}

h1 {
  font-family: cursive;
}

h3 {
  display: flex;
  flex-direction: column;
  background-color: ivory;
  color: darkblue;
  padding: 0.5rem
}

section {
  height :1600px;
  background-color: green;
}
