<div>
    <ul>
      <li>
        <a routerLink="add_tournament" (click)="changePageTitleOnClick('Ajouter un tournoi')">Ajouter un tournoi<span class="arrow right"></span></a>
      </li>
      <li><a>Sélectionner un tournoi</a></li>
      <li><a>Rechercher un tournoi</a></li>
      <li><a (click)="fetchTournamentsList()">Lister les tournois par date<span class="arrow right"></span></a></li>
      <li><a (click)="fetchTournamentsList()">Lister les tournois par lieu<span class="arrow right"></span></a></li>
    </ul>
  <app-tournaments-list *ngIf="tournamentsListResults" [tournamentsListResults]="tournamentsListResults"></app-tournaments-list>
</div>
