<form [formGroup]="playerForm">
  <div class="player-form-group">
    <label for="lastName">Nom: </label>
    <input type="text"  placeholder ="Nom" id="lastName"
           formControlName="lastName"
           [(ngModel)]="playerModel.lastName" name="lastName">
  </div>

  <div class="player-form-group">
    <label for="firstName">Prénom: </label>
    <input type="text"  placeholder ="Prénom" id="firstName"
           formControlName="firstName"
           [(ngModel)]="playerModel.firstName" name="firstName">
  </div>

  <div class="player-form-group">
    <label for="birthdate">Date de Naissance: </label>
    <input type="text" placeholder ="Date de Naissance" id="birthdate"
           formControlName="birthdate"
           [(ngModel)]="playerModel.birthdate" name="birthdate">
  </div>

  <div class="player-form-group">
    <label for="gender">Genre: </label>
    <input type="text" placeholder ="Genre" id="gender"
           formControlName="gender"
           [(ngModel)]="playerModel.gender" name="gender">
  </div>

  <div class="player-form-group">
    <label for="ranking">Classement: </label>
    <input type="number" placeholder ="Classement" id="ranking"
           formControlName="ranking"
           [(ngModel)]="playerModel.ranking" name="ranking">
  </div>
  <div>
    <button type="submit" (click)="savePlayer()">Enregister le joueur</button>
  </div>
</form>

