<div>
    <ul>
        <li>
          <a routerLink="add_player" (click)="changePageTitleOnClick('Ajouter un joueur')">Ajouter un joueur<span class="arrow right"></span></a>
        </li>
        <li>
          <a>Rechercher par identifiant</a>
        </li>
        <li>
          <a>Mise à jour du classement d'un joueur</a>
        </li>
        <li>
          <a (click)="fetchPlayersList('')">Lister les joueurs par Nom<span class="arrow right"></span></a>
        </li>
        <li>
          <a (click)="fetchPlayersList('ranking')">Lister les joueurs par Classement<span class="arrow right"></span></a>
        </li>
    </ul>
    <app-players-list *ngIf="playersListResults" [playersListResults]="playersListResults"></app-players-list>
</div>
