<nav>
  <ul>
    <li *ngIf="data_status">{{ data_status }}</li>
  </ul>
  <ul>
    <li>
      <a routerLink="" (click)="changePageTitleOnClick('Accueil')"><span class="arrow left"></span> Accueil <span class="arrow right"></span></a>
    </li>
  </ul>
  <ul>
    <li>
      <a routerLink="" (click)="loadData()"><span class="arrow up"></span> Charger <span class="arrow up"></span></a>
    </li>
    <li>
      <a routerLink="" (click)="saveData()"><span class="arrow down"></span> Sauvegarder <span class="arrow down"></span></a>
    </li>
  </ul>

  <ul>
    <li>
      <a routerLink="players_menu" (click)="changePageTitleOnClick('Joueurs')">Gestion des Participants <span class="arrow right"></span></a>
    </li>
    <li>
      <a>
        <span class="arrow left"></span>
          <span class="arrow left"></span>
            Nouveau tournoi
          <span class="arrow right"></span>
        <span class="arrow right"></span>
      </a>
    </li>
    <li>
      <a routerLink="tournaments_menu" (click)="changePageTitleOnClick('Tournois')">
        Gestion des Tournois
        <span class="arrow right"></span>
      </a>
    </li>
  </ul>
</nav>

