<nav>
  <ul>
    <li>
      <a routerLink="">
        <span class="arrow left"></span> Accueil
      </a>
    </li>
    <li>
      <a>
        <span class="arrow left"></span> Page précédente
      </a>
    </li>
    <li>
      <a routerLink="tournaments_menu">
        Gestion des Tournois <span class="arrow right"></span>
      </a>
    </li>
    <li>
      <a routerLink="players_menu">
        Gestion des Participants <span class="arrow right"></span>
      </a>
    </li>
    <li>
      <a>
        Nouveau tournoi <span class="arrow right"></span>
      </a>
    </li>
    <li>
      <a>
        Charger <span class="arrow up"></span>
      </a>
    </li>
    <li>
      <a>
        Sauvegarder <span class="arrow down"></span>
      </a>
    </li>

  </ul>
</nav>

