<nav>
  <ul>
    <li *ngIf="data_status">{{ data_status }}</li>
  </ul>
  <ul>
    <li>
      <a routerLink=""><span class="arrow left"></span> Accueil <span class="arrow right"></span></a>
    </li>
  </ul>
  <ul>
    <li>
      <a><span class="arrow left"></span><span class="arrow left"></span> Page précédente </a>
    </li>

    <li>
      <a (click)="loadData()"><span class="arrow up"></span> Charger <span class="arrow up"></span></a>
    </li>
    <li>
      <a (click)="saveData()"><span class="arrow down"></span> Sauvegarder <span class="arrow down"></span></a>
    </li>
  </ul>

  <ul>
    <li>
      <a routerLink="players_menu">Gestion des Participants <span class="arrow right"></span></a>
    </li>
    <li>
      <a>
        <span class="arrow left"></span>
          <span class="arrow left"></span>
            Nouveau tournoi
          <span class="arrow right"></span>
        <span class="arrow right"></span></a>
    </li>
    <li>
      <a routerLink="tournaments_menu"> Gestion des Tournois <span class="arrow right"></span></a>
    </li>
  </ul>
</nav>

